In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from models.kdd import KDD_Hardcoded
from utils import FAR, FDR

%matplotlib inline

In [2]:
TEST_DATASET = 'model_2018_ST4000DM000.csv'

In [3]:
def compute_metrics(y_true, y_pred):
    return {
        'FAR': FAR(y_true, y_pred),
        'FDR': FDR(y_true, y_pred)
    }

In [4]:
data = pd.read_csv(TEST_DATASET)
data = data.groupby(['serial_number']).filter(lambda x: len(x) >= 21)
data.sort_values(by=['date'], inplace=True)
data = data.groupby('serial_number').tail(21)

print(data.shape)
data.head()

(133308, 105)

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
40323,2018-02-03,Z304ZRY7,ST4000DM000,4000787030016,0,112.0,42457960.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40319,2018-02-03,S3010EGP,ST4000DM000,4000787030016,0,119.0,223098152.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40379,2018-02-03,Z300GZCZ,ST4000DM000,4000787030016,0,116.0,107659280.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39962,2018-02-03,Z304F2RG,ST4000DM000,4000787030016,0,118.0,181687808.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40848,2018-02-03,Z301MVDP,ST4000DM000,4000787030016,0,117.0,137435640.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# take data for prediction
data_ = data.groupby('serial_number').tail(1)
data_.head()

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
93822,2018-02-23,S3010EGP,ST4000DM000,4000787030016,0,113.0,53042936.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93828,2018-02-23,Z304ZRY7,ST4000DM000,4000787030016,0,118.0,176636704.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93924,2018-02-23,Z300GZCZ,ST4000DM000,4000787030016,0,112.0,47320568.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93299,2018-02-23,Z304F2RG,ST4000DM000,4000787030016,0,116.0,116620136.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94603,2018-02-23,Z301MVDP,ST4000DM000,4000787030016,0,118.0,177141880.0,NaN,NaN,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
y = data_['failure']
X = data_.drop(['failure'], axis=1)

In [9]:
sum(y == 1), sum(y == 0)

(218, 6130)

In [7]:
predict = KDD_Hardcoded().predict(X)

In [8]:
compute_metrics(np.array(y), predict)

{'FAR': 0.041109298531810765, 'FDR': 0.463302752293578}